    <div id="footer">
      <div class="row" >
        <hr>
        <div class="small-12 medium-4 columns large-offset-1">
          <h4>Official</h4>
          <ul>
            <li><a href="https://xonotic.org/team/" title="meet team xonotic">Team Xonotic</a></li>
            <li><a href="https://xonotic.org/rules/" title="read the rules">Rules</a></li>
            <li><a href="https://xonotic.org/tos/" title="read the terms of service and privacy policy">Terms of Service and Privacy Policy</a></li>
          </ul>
        </div>

        <div class="small-12 medium-4 columns">
          <h4>Documentation</h4>
          <ul>
            <li><a href="https://xonotic.org/faq/">Frequently Asked Questions</a></li>
            <li><a href="https://gitlab.com/xonotic/xonotic/wikis/home">Wiki</a></li>
            <li><a href="https://xonotic.org/tools/cacs">Command, Alias &amp; Cvar Search</a></li>
            <li><a href="https://forums.xonotic.org/search.php">Forums search</a></li>
          </ul>
        </div>

        <div class="small-12 medium-3 columns">
          <h4>Development</h4>
          <ul>
            <li><a href="https://gitlab.com/xonotic/xonotic/blob/master/README.md">GitLab README</a></li>
            <li><a href="https://gitlab.com/groups/xonotic/-/activity">Development activity</a></li>
            <li><a href="https://gitlab.com/groups/xonotic/-/issues">Issue tracker</a></li>
            <li><a href="https://gitlab.com/groups/xonotic/-/merge_requests">Merge Requests</a></li>
          </ul>
        </div>

      </div>
    </div>

    {{ partial "footer_includes.html" . }}
  </body>
</html>
