
    <link rel="preload" href="/static/img/bg.jpg" as="image">

    <link rel="preload" href="/static/fonts/Xolonium/xolonium-regular-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/PT/PTS55F-webfont.woff" as="font" type="font/woff" crossorigin>

    <link rel="preload" href="/static/fontawesome-free-6.1.1-web/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/fontawesome-free-6.1.1-web/css/all.css" />

    <link rel="stylesheet" href="/static/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/css/blog.css" />

    <link rel="alternate" type="application/rss+xml" title="The Xonotic Blog" href="/index.xml" />
