<div class="panel">
  <p>
    Xonotic is a fast paced first person shooter where
    crisp movement, nuanced weapons, and in-your-face action
    combine to create addictive arena-style gameplay.<br>
    Xonotic is free to play and modify under the
    <a href="https://www.gnu.org/copyleft/" title="copyleft licensing">copyleft</a>
    <a href="https://www.gnu.org/licenses/gpl-3.0.txt" title="The GPLv3+ license">GPLv3+</a> license.
    <a href="/download" title="Download Xonotic">Download</a> it today!
  </p>
</div>
